version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: recrutement-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
      MONGO_INITDB_DATABASE: recrutement_db
    volumes:
      - mongodb_data:/data/db
    networks:
      - recrutement-network

  mongo-express:
    image: mongo-express:latest
    container_name: recrutement-mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_MONGODB_URL: mongodb://admin:admin123@mongodb:27017/
      ME_CONFIG_BASICAUTH: false
    depends_on:
      - mongodb
    networks:
      - recrutement-network

volumes:
  mongodb_data:
    driver: local

networks:
  recrutement-network:
    driver: bridge